{% load tagging_tags %}
{% load i18n %}

<div class="blog-post-item">
    <a name="post-{{ post.pk }}"></a>
    <h3>{{ post.title }}</h3>
    <div class="content">
        {{ post.summary_uncached|safe }}
    </div>
    <div class="content-full" style="display: none">
        {{ post.content|safe }}
    </div>
    <div class="meta-display">
        {% if FEEDZILLA_EXPAND_FULL %}<a class="btn btn-mini" href="#" onclick="var p = $(this).parent().parent(); p.find('.content').hide(); p.find('.content-full').show(); return false;">{% trans "Expand" %}</a> {% trans "or" %} {% endif %}<a class="btn btn-mini btn-success" href="{{ post.get_absolute_url }}">{% trans "Read original" %}</a>
    </div>
    <div class="meta">
        <span class="author">
            <i class="icon icon-user"></i>
            <a href="{{ post.feed.site_url }}">{{ post.feed.author_or_title }}</a>
        </span>
        <span class="date">
            <i class="icon icon-time"></i>
            {{ post.created|date:"d M H:i" }}
        </span>
        {% if post.tags %}
        <div class="row2">
            <i class="icon icon-tag"></i>
            <span class="tags">
                {% tags_for_object post as tags %}
                {% for tag in tags %}<a href="{% url "feedzilla_tag" tag.name %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
            </span>
        </div>
        {% endif %}
    </div>
</div>

