{% load tagging_tags %}

<div class="post">
    <h3 class="author">
        <img class="favicon" src="http://www.google.com/s2/favicons?domain={{ post.feed.site_hostname }}" />
        <a href="{{ post.feed.site_url }}">{{ post.feed.author_or_title }}</a>
    </h3>
    <h4 class="title">
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h4>
    <div class="contentarea">
        <p>{{ post.content|safe }}</p>
        <div class="details">
            <ul class="controls">
                <li><span title="Дата публикации">{{ post.created|date:"d M H:i" }}</span></li>
                {% if post.tags %}<li><span class="tags" title="Метки публикации">
                    {% tags_for_object post as tags %}
                    {% for tag in tags %}<a href="{% url feedzilla_tag tag.name %}">{{ tag }}</a>{% endfor %}
                </li>{% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="divider2"></div>
