{% load tagging_tags %}
{% load i18n %}

<div class="post">
    <h3 class="author">
        <img class="favicon" src="http://www.google.com/s2/favicons?domain={{ post.feed.site_hostname }}" />
        <a href="{{ post.feed.site_url }}">{{ post.feed.author_or_title }}</a>
    </h3>
    <h4 class="title">
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h4>
    <div class="content">
        {{ post.content|safe }}
    </div>
    <div class="details">
        <ul>
            <li><span title="{% trans "Date of publication" %}">{{ post.created|date:"d M H:i" }}</span></li>
            {% if post.tags %}<li><span class="tags" title="{% trans "Labels of post" %}">
                {% tags_for_object post as tags %}
                {% for tag in tags %}<a href="{% url feedzilla_tag tag.name %}">{{ tag }}</a>{% endfor %}
            </li>{% endif %}
            <li class="social-bookmarks">
                {% load bookmarker_tags %}
                {% bookmark_links post.get_absolute_url post.title %}
            </li>
        </ul>
    </div>
</div>
