{% load tagging_tags %}

<div class="post">
    <h4><img src="http://favicon.yandex.net/favicon/{{ post.feed.site_hostname }}" /><a href="{{ post.feed.site_url }}">{{ post.feed.title }}</a> &mdash; <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
    <div class="contentarea">
        <div class="details">
            {% if post.feed.author %}
            <span title="Автор">{{ post.feed.author }}</span>,
            {% endif %}
            <span title="Дата публикации">{{ post.created|date:"d M H:i" }}</span>
        </span>
        </div>
        <p>{{ post.content|safe }}</p>
        <ul class="controls">
            {% if post.tags %}<li><span class="tags">Тэги:
                {% tags_for_object post as tags %}
                {% for tag in tags %}<a href="{% url feedzilla_tag tag.name %}">{{ tag }}</a>{% endfor %}
            </li>{% endif %}
        </ul>
    </div>
</div>

<div class="divider2"></div>
