{% extends 'feedzilla/base.html' %}
{% load i18n %}

{% block feedzilla_content %}
<h1>{% block feedzilla_title %}{{ FEEDZILLA_SITE_TITLE }}{% endblock %}</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Feed Name" %}</th>
            <th>{% trans "Post Count" %}</th>
            <th>{% trans "Feed URL" %}</th>
        </tr>
    </thead>
    {% for feed in feed %}
    <tr>
        <td>
            <a href="{{ feed.site_url }}">{{ feed.title }}</a>
        </td>
        <td>
        {{ feed.post_count }}
        </td>
        <td>
        <a href="{{ feed.feed_url }}">
            <img style="position: relative; top: 3px" src="{{ MEDIA_URL }}feedzilla/img/feed-icon-small.png" />
        </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

