{% extends 'base.html' %}

{% block content %}
<h2>{% block title %}Записи с меткой &laquo;{{ tag }}&raquo;{% endblock title %}</h2>
<div class="divider2"></div>
<div class="contentarea">
{% if page.object_list %}
    {% for post in page.object_list %}
    {% include 'feedzilla/post_template.html' %}
    {% endfor %}
    {% include "common/pagination.html" %}
{% else %}
    <p>Записей с такой меткой не существует.</p>
{% endif %}
<div class="divider2"></div>
<p>Внимание: если вы ввели метку вручную в адресной строке браузера, то вы можете ничего не увидеть. Пожалуйста, пользуйтесь списком меток в боковой части сайта.</p>
</div>
{% endblock %}

