/*

	zenlike1.0 by nodethirtythree design
	http://www.nodethirtythree.com

*/

*
{
padding: 0em;
margin: 0em;
}

body
{
/*background: #000000 url('/static/images/bg1.jpg');*/
background-color: #fff9e9;
padding: 35px 0px 35px 0px;
}

body,input
{
font-size: 10pt;
font-family: "georgia", "times new roman", serif;
color: #333333;
}

p
{
line-height: 1.5em;
margin-bottom: 1.0em;
text-align: justify;
}

a
{
color: #B96D00;
text-decoration: underline;
}

a:hover
{
text-decoration: none;
}


h3 span
{
font-weight: normal;
}

h3,h4
{
display: inline;
font-weight: bold;
background-repeat: no-repeat;
background-position: right;
}

h3
{
display: block;
font-size: 1.7em;
padding-right: 34px;
/*background-image: url('/static/images/db1.gif');*/
}

h4
{
font-size: 1.2em;
padding-right: 22px;
/*background-image: url('/static/images/db2.gif');*/
}

.post h4 {
    background: no-repeat 99% 5px url('/static/images/external.png');*/
}

h4 img {
    position: relative;
    left: -5px;
    top: 2px;
}

.contentarea
{
padding-top: 1.3em;
}

.contentarea ul, .contentarea ol {
    margin-left: 1.5em;
}

.contentarea h2 {
    margin-top: 0.5em;
    font-size: 1.3em;
}

.contentarea h3 {
    margin-top: 1em;
    font-size: 1.2em;
    display: block;
    background: none;
}

.tag-cloud a {
    font-size: 110%;
}

img
{
/*border: solid 1px #6F5230;*/
border: none;
}

img.left
{
position: relative;
float: left;
margin: 0em 1.8em 1.4em 0em;
}

img.right
{
position: relative;
float: right;
margin: 0em 0em 1.8em 1.8em;
}

.divider1
{
position: relative;
background: #fff url('/static/images/border2.gif') repeat-x;
height: 14px;
margin: 0;
clear: both;
}

.divider2
{
position: relative;
height: 1px;
border-bottom: solid 1px #eaeaea;
margin: 2.0em 0em 2.0em 0em;
}

.post .details
{
position: relative;
top: -1.0em;
font-size: 0.8em;
color: #787878;
}

.post ul.controls
{
clear: both;
margin-top: 0.5em;
margin-left: 0;
}

.post ul.controls li
{
display: inline;
font-size: 0.95em;
}

.post ul.controls li a
{
background-repeat: no-repeat;
background-position: left;
padding: 0em 1.0em 0em 20px;
}

.post ul.controls li .tags a {
    padding-left: 5px;
    padding-right: 5px;
}

.post ul.controls li a.printerfriendly
{
background-image: url('/static/images/icon-printerfriendly.gif');
}

.post ul.controls li a.comments
{
background-image: url('/static/images/icon-comments.gif');
}

.post ul.controls li a.more
{
background-image: url('/static/images/icon-more.gif');
}

.box
{
position: relative;
background: #FDFCF6 url('/static/images/boxbg.gif') repeat-x;
left: -1.5em;
top: -1.5em;
padding: 1.5em;
border-bottom: solid 1px #E1D2BD;
margin-bottom: 1.0em;
}

.lightbox
{
position: relative;
left: -1.5em;
top: -1.5em;
padding: 1.5em;
margin-bottom: 1.0em;
}

ul.linklist
{
list-style: none;
}

ul.linklist li
{
line-height: 2.0em;
}

#upbg
{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 275px;
/*background: #fff url('/static/images/bg2.jpg') repeat-x;*/
z-index: 1;
}

#outer-border {
border: solid 7px #fff;
}

#outer
{
z-index: 2;
position: relative;
/*
	The width value below controls the overall width of the design. By default it's set to 82%
	(so it'll take up 82% of the browser window's width). You can set it to a different percentage
	value (70%, 90%, etc.) or even a pixel value (760px, 800px, etc.) to enforce a fixed width.
*/
width: 82%;
border: solid 1px #e9e1cd;
background-color: #fff;
margin: 0 auto;
}

#header
{
position: relative;
width: 100%;
height: 9.0em;
background: #2B2B2B url('images/topbg.gif') repeat-x;
margin-bottom: 2px;
}

#headercontent
{
position: absolute;
bottom: 0em;
padding: 0em 2.0em 1.3em 2.0em;
}

#headercontent h1 a {
    color: #fff;
    text-decoration: none;
}

#headercontent h1
{
font-weight: normal;
color: #fff;
font-size: 2.5em;
}

#headercontent h1 sup
{
color: #777;
}

#headercontent h2
{
font-size: 1.0em;
font-weight: normal;
color: #aaa;
}

#search
{
position: absolute;
top: 5.5em;
right: 2.0em;
padding-right: 0.0em;
}

#search #search_query {
    width: 15em;
}

.site-feed {
    position: absolute;
    top: 2em;
    right: 2em;
}

#search input.text
{
margin-right: 0.5em;
vertical-align: middle;
border-top: solid 1px #000000;
border-right: 0px;
border-bottom: solid 1px #777777;
border-left: 0px;
padding: 0.15em;
width: 10.0em;
}

#search input.submit
{
background: #939B00 url('/static/images/buttonbg.gif') repeat-x;
border: solid 1px #5F6800;
font-weight: bold;
padding: 0.25em;
font-size: 0.8em;
color: #F2F3DE;
vertical-align: middle;
}

#headerpic
{
position: relative;
height: 109px;
background: #fff url('/static/images/hdrpic.jpg') no-repeat top left;
margin-bottom: 2px;
}

#menu
{
position: relative;
background: #7F8400 url('images/menubg.gif') repeat-x top left;
height: 3.5em;
padding: 0em 1.0em 0em 1.0em;
margin-bottom: 2px;
}

#menu ul
{
position: absolute;
top: 1.1em;
}

#menu ul li
{
position: relative;
display: inline;
}

#menu ul li a
{
padding: 0.5em 1.0em 0.9em 1.0em;
color: #fff;
text-decoration: none;
}

#menu ul li a:hover
{
text-decoration: underline;
}

#menu ul li a.active
{
background: #7F8400 url('images/menuactive.gif') repeat-x top left;
}

#menubottom
{
background: #fff url('images/border1.gif') repeat-x;
height: 14px;
margin-bottom: 1.5em;
}

#content
{
padding: 0em 2.0em 0em 2.0em;
}

#primarycontainer
{
float: left;
margin-right: -18.0em;
width: 100%;
}

#primarycontent
{
margin: 1.5em 22.0em 0em 0em;
}

#secondarycontent
{
margin-top: 1.5em;
float: right;
width: 18.0em;
}

#footer
{
position: relative;
height: 2.0em;
clear: both;
padding-top: 5.0em;
background: #fff url('images/border2.gif') repeat-x 0em 2.5em;
font-size: 0.8em;
}

#footer .left
{
position: absolute;
left: 2.0em;
bottom: 1.2em;
}

#footer .right
{
position: absolute;
right: 2.0em;
bottom: 1.2em;
}

a img {
    border: none;
}

.highlight {
    background-color: yellow;
}

.external {
    padding-right: 1em;
    background: no-repeat 100% 0.75em url(/static/images/external.png);
}

.pagination .summary, .pagination a {
    padding-right: 1em;
}

code {
    padding-left: 0.3em;
}

pre, code.block {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border: 1px solid #FFD452;/*#B96D00;*/
    background-color: #FFE38F;
    padding: 0.5em;
}

h3.author {
    position: relative;
    left: -20px;
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

h3.author a {
    text-decoration: none;
}

h4.title a {
    text-decoration: none;
}

.add-blog img {
    position: relative;
    top: 3px;
}

.add-blog {
    font-size: 1.3em;
    font-family: Verdana, sans-serif;
}

.common-form input, .common-form textarea {
    display: block;
}

.common-form {
    margin: 1em 0;
}

.common-form label {
    font-weight: bold;
}

.errorlist li {
    list-style-type: none;
    color: red;
}
