body {
  font-size: 0.9em;
  line-height: 1.5;
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

pre, code {
  font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

/* Headers */

h1 {
  font-size: 1.65em;
}

h2 {
  font-size: 1.55em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

/* Spacing */

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
    list-style-position: inside;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 0.5em;
}
