<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Feedzilla Demo Project</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{% url "feedzilla_source_list" %}">Blogs</a></li>
                    <li><a href="{% url "feedzilla_cloud_page" %}">Tag Cloud</a></li>
                    <li><a href="{% url "feedzilla_submit_blog" %}">Add Blog</a></li>
                </ul>
                <!--<p class="pull-right navbar-text">-->
                        <!--<a href="#">-->
                                <!--<img src="{{ MEDIA_URL }}img/feed-icon-big.png" />-->
                        <!--</a>-->
                <!--</p>-->
                <ul class="nav pull-right">
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
