{% extends 'base.html' %}
{% load common_extras %}

{% block content %}
<div class="post">
    <h4><a href="{{ post.get_absolute_url }}">{{ post.title|safe }}</a></h4>
    <div class="contentarea">
        <p>Последнее обновление: {{ last_posts.0.created|date:"d M Y H:i" }}
        </p>
    </div>
</div>

<div class="post">
    <h4>Последние сообщения:</h4>
    <div class="contentarea">
        <ul>
            {% for post in last_posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title|safe }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
