{% load i18n compressed %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>{% block title %}{{ FEEDZILLA_SITE_TITLE }}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <link rel="alternate" type="application/atom+xml" href="{% if FEEDZILLA_FEEDBURNER_FEED %}{{ FEEDZILLA_FEEDBURNER_FEED }}{% else %}{% url feedzilla_feed "posts" %}{% endif %}" title="{{ FEEDZILLA_SITE_TITLE }}" />

    {% compressed_css "common_styles" %}
    {% compressed_js "common_scripts" %}
    {% block extra_js %}{% endblock %}
</head>
<body>
    <div class="site-base">
        <div class="site-head">
            <div class="inner">
                <div class="logo">
                    <h2><a href="/">{{ FEEDZILLA_SITE_TITLE }}</a></h2>
                    <div class="site-description">{{ FEEDZILLA_SITE_DESCRIPTION }}</div>
                </div>
                <div class="right">
                    <div class="site-updates">
                        {% if FEEDZILLA_TWITTER %}
                        <a href="http://twitter.com/{{ FEEDZILLA_TWITTER }}" class="twitter-link">
                            <img src="{{ MEDIA_URL }}feedzilla/img/twitter.png" alt="{% trans "Twitter updates" %}" />
                        </a>
                        {% endif %}
                        <a href="{% if FEEDZILLA_FEEDBURNER_FEED %}{{ FEEDZILLA_FEEDBURNER_FEED }}{% else %}{% url feedzilla_feed "posts" %}{% endif %}" class="feed-link">
                            <img src="{{ MEDIA_URL }}feedzilla/img/feed-icon-big.png" alt="{% trans "ATOM feed" %}" />
                        </a>
                    </div>
                    <form class="search-form" action="{% url feedzilla_search %}" method="get">
                        <input id="id_query" type="text" maxlength="64" name="query" value="{% block query_value %}{% endblock %}" />
                        <input type="submit" class="submit" value="{% trans "Search" %}" />
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="site-navigation">
            <ul>
                <li><a href="/">{% trans "News stream" %}</a></li>
                <li><a href="{% url feedzilla_sources %}">{% trans "Sources" %}</a></li>
                {% for link in FEEDZILLA_HEAD_LINKS %}
                {{ link|safe }}
                {% endfor %}
            </ul>
        </div>
        <div class="site-head-bottom">
        </div>

        <div class="site-body">
            <div class="site-content">
                <div class="inner">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="site-sidebar">
                <div class="inner">
                    {% include "feedzilla/sidebar.html" %}
                    {% include "feedzilla/sidebar_extra.html" %}
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="site-footer">
            <div class="inner">
                {% include "footer.html" %}
            </div>
        </div>
    </div>
</body>
</html>
