{% load i18n %}
<script type="text/javascript">
    var addthis_config = {};
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>

<div class="left">
    {% trans "Powered by" %} <a href="http://bitbucket.org/lorien/feedzilla">Feedzilla</a> <br/>
</div>
<div class="right">
    <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangosite80x15.gif" border="0" alt="A Django site." title="A Django site." /></a>
</div>
<div class="clear"></div>
